.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.confmodal-content {
    background: #ffffff;
    flex-direction: column;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    text-align: center;
    max-width: 500px;
    width: 400px;
    animation: fadeIn 0.3s ease;
}

.modal-header {
    font-size: 1.5em;
    margin-bottom: 10px;
    color: #333;
}

.modal-body {
    margin: 15px 0;
    color: #555;
}

.modal-actions .confirmbtn, 
.modal-actions .cancelbtn {
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
    margin: 10px 5px;
    width: 120px;
    font-size: 15px;
}

.modal-actions .confirmbtn {
    background-color: #f6d130;
}

.modal-actions .confirmbtn:hover {
    background-color: #f2cc22;
    transform: scale(1.05);
}

.modal-actions .cancelbtn {
    background-color: #3d3b92;
}

.modal-actions .cancelbtn:hover {
    background-color: #2e2b80;
    transform: scale(1.05); 
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}